.ddev/
.env
.env.*
.git
**/.env
**/.env.*
**/auth.json
*.dump
*.sql
*.sql.gz
backups/
config/sync/
private/
secrets/
vendor/
web/sites/default/files/
web/modules/custom/markaspot_vision/
web/sites/*/files/
web/sites/*/settings.local.php
web/sites/*/settings.prod.php
web/sites/*/settings.production.php
web/sites/*/settings.php
