#
# Copy and rename this file to .env at root of this project.
#
# A common use case is to supply database creds via the environment. Edit settings.php
# like so:
#
# $databases['default']['default'] = [
#   'database' => getenv('DRUPAL_DATABASE_NAME'),
#   'driver' => 'mysql',
#   'host' => getenv('DRUPAL_DATABASE_HOST'),
#   'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
#   'password' => getenv('DRUPAL_DATABASE_PASSWORD'),
#   'port' => getenv('DRUPAL_DATABASE_PORT'),
#   'prefix' => '',
#   'username' => getenv('DRUPAL_DATABASE_USERNAME'),
# ];
#
# Uncomment and populate as needed.
# Docksal default
DRUPAL_DATABASE_HOST='db'
DRUPAL_DATABASE_PORT='3306'
DRUPAL_DATABASE_NAME='drupal'
DRUPAL_DATABASE_USERNAME='drupal'
DRUPAL_DATABASE_PASSWORD='drupal'
DRUPAL_HASH_SALT='fe918c992fb1bcfa01f32303c8b21f3d0a0'

