/**
 * @file
 * CSS for Mark-a-Spot admin theme adoption.
 */

#block-markaspot-stats-markaspot-stats ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*Admin Styles*/

#markaspot-admin .panel-col-first {
  width: 60%;
}

#markaspot-admin .panel-col-last {
  width: 35%;
  padding: 0 0 0 40px;
}

#markaspot-admin .panel-2col-bricks,
#markaspot-admin .panel-separator {
  margin: 0 0 3em 0;
}

#markaspot-admin .pane-title {
  font-size: 25px;
  margin: 10px 5px;
  color: #bbb;
}

.page-admin-track-content span.icon {
  background-position: 0 -30px;
}

.view-mark-a-spot-admin-comments .item-list li,
.view-mark-a-spot-admin-comments .item-list li.views-row-last {
  padding: 10px 5px 25px 10px;
}

.view-mark-a-spot-admin-comments .views-field-timestamp {
  color: #999;
}

ul.mas-admin.action-links.clearfix {
  float: right;
  padding: 0 0 0 120px;
  clear: both;
}

ul.mas-admin.action-links li {
  display: inline;
}

.mas-admin a {
  min-width: 10px;
  float: left;
  text-align: center;
  padding: 5px 10px;
  color: #333;
  text-shadow: white 0 1px 0;
}

.admin-menu .nav.required-fields.group-report-form {
  display: none;
}

/**
 * The .contextual.css file is intended to contain styles that override declarations
 * in the Contextual module.
 */

/* @group Wrapper */

#views-live-preview .contextual-links-region-active {
  outline: medium none;
}

#views-live-preview div.contextual-links-wrapper {
  right: auto;
  top: auto;
}

html.js #views-live-preview div.contextual-links-wrapper {
  display: inline;
}

/* @end */

/* @group Trigger */

#views-live-preview a.contextual-links-trigger {
  display: block;
}

/* @end */

/* @group List */

div.contextual-links-wrapper ul.contextual-links {
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px;
  min-width: 10em;
  padding: 6px 6px 9px 6px;
  right: auto;
}

ul.contextual-links li a,
ul.contextual-links li span {
  padding-bottom: 0.25em;
  padding-right: 0.1667em;
  padding-top: 0.25em;
}

ul.contextual-links li span {
  font-weight: bold;
}

ul.contextual-links li a {
  color: #666666 !important;
  margin: 0.25em 0;
  padding-left: 1em;
}

ul.contextual-links li a:hover {
  background-color: #badbec;
}

/* @end */

/* start geo street search */
input.fluid {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 300px;
}

/* @end */

.status_cc0000 {
  color: #cc0000;
  font-weight: 700;
}

.status_beddbf {
  color: #beddbf;
}

.status_ff6600 {
  color: #ff6600;
  font-weight: 700;
}

.status_dddddd {
  color: #ddd;
  font-weight: 700;
}

.meta-info {
  color: #999;
}

/*Print-Client Styles*/

.print-content .field {
  margin: 1em;
}

.print-content .field-name-field-image {
  float: right;
  width: 15em;
  height: 15em;
}

.print-content .field-name-field-image img {
  width: 15em;
  height: 15em;
}

.print-footer {
  display: none;
}

#geolocation-address-geocode-7-0 {
  display: inline;
  padding: 5px;
  /* margin: 5px; */
  float: left;
}

.views-field-uuid {
  width: 60px;
  text-align: right;
}

div#geolocation-map-7-0 {
  height: 160px !important;
  width: 100% !important;
}

div.field-geo-radar,
input#edit-photo,
.node-type-report #block-system-help {
  display: none;
}

.navbar-icon-mark-a-spot:before {
  background-image: url(../../../themes/mas/images/logo-small.png);
}

.navbar-icon-verwaltung:before,
.navbar-icon-recherche:before {
  background-image: url(../../../themes/mas/images/logo-small.png);
}

.page-admin-config .right.clearfix {
  clear: none;
}

span#geolocation-client-location-7-0 {
  display: none;
}

div#edit-field-geo-und-0-address div.description {
  display: none;
}

div#geolocation-help-7-0 {
  display: none;
}

.geolocation-lng-item, .geolocation-lat-item {
  display: none;
}

.ember.page-node .panel-pane {
  background: #fff;
  padding: 10px 20px;
  min-height: 130px}

.ember.node-type-report .fieldset-wrapper {
  border: 1px solid #eaeaea;
  padding: 5px;
}

.ember.node-type-report .panel-2col-bricks .panel-col-last {
  float: left;
  width: 60%;
}

.ember.node-type-report .panel-2col-bricks .panel-col-first {
  float: left;
  width: 39%;
}

.panel-pane.pane-node-form-buttons,
.panel-pane.pane-node-field-department {
  width: 49%;
  float: right;
  min-height: 150px;
  background: #fff;
  margin: 0 0 10px 0;
}

.panel-pane.pane-node-field-notify-user,
.panel-pane.pane-node-field-status {
  width: 50%;
  float: left;
  margin: 0 0 30px 0;
  min-height: 150px;
}

.panel-pane.pane-node-form-publishing {
  background: #fff;
  padding: 10px;
}

.panel-pane.pane-node-form-publishing h2{
  display:none;
}

.panel-pane.pane-entity-form-field.pane-node-field-status,
.panel-pane.pane-entity-form-field.pane-node-field-statement {
  clear: both;
}

body.ember.page-node {
  background: #dddddd !important;
}

.ember .panel-2col-bricks .panel-col-last .inside {
  margin: -14px 0 .5em .5em;
}

.pane-node-field-image .fieldset-description {
  display: none;
}

.panel-pane.pane-entity-form-field.pane-node-field-note {
  clear: both;
}

.date-processed span.fieldset-legend {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

fieldset.form-wrapper.date-processed {
  margin: 0;
  padding: 0;
  height: inherit;
}

div#edit-field-statement-und-0-field-admin-statement-date-und-0-value {
  font-size: 10px;
}