/* $Id$ */

.block-single-blog .content ul {
  padding-left: 0; /* LTR */
}

.block-single-blog .content ul li {
  margin-bottom: 10px;
  list-style-type: none;
}

.block-single-blog .date {
  font-weight: bold;
}

.block-single-blog h4 {
  margin: 0;
}

.block-single-blog .name {
  font-style: italic;
}
