@media (min-width: 62.5rem) {
  .site-footer {
    & .layout--content-medium,
    & .layout--pass--content-medium > * {
      -ms-grid-column: 2;
      -ms-grid-column-span: 10;
      grid-column: 2 / 14
    }
  }
  .sidebar-grid > .site-main {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-column: 20 / 11;
  }
}


