@font-face {
	font-family: 'markaspot';
	src:url('fonts/markaspot.eot?-x6ybf2');
	src:url('fonts/markaspot.eot?#iefix-x6ybf2') format('embedded-opentype'),
		url('fonts/markaspot.woff?-x6ybf2') format('woff'),
		url('fonts/markaspot.ttf?-x6ybf2') format('truetype'),
		url('fonts/markaspot.svg?-x6ybf2#markaspot') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'markaspot';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-snowflake:before {
	content: "\e600";
}
.icon-brightness-medium:before {
	content: "\e000";
}
.icon-remove:before {
	content: "\e001";
}
.icon-bullhorn:before {
	content: "\e002";
}
.icon-droplet:before {
	content: "\e003";
}
.icon-location2:before {
	content: "\e004";
}
.icon-location:before {
	content: "\e005";
}
.icon-office:before {
	content: "\e006";
}
.icon-bubbles2:before {
	content: "\e007";
}
.icon-bug:before {
	content: "\e009";
}
.icon-leaf:before {
	content: "\e00a";
}
.icon-lab:before {
	content: "\e00c";
}
.icon-car:before {
	content: "\e00d";
}
.icon-pause:before {
	content: "\e00e";
}
.icon-bubbles:before {
	content: "\e00f";
}
.icon-checkmark:before {
	content: "\e010";
}
.icon-play:before {
	content: "\e011";
}
.icon-close:before {
	content: "\e012";
}
.icon-headphones:before {
	content: "\e013";
}
.icon-drawer:before {
	content: "\e014";
}
.icon-sign:before {
	content: "\e601";
}
.icon-tree:before {
	content: "\e602";
}
.icon-wi-fi:before {
	content: "\e603";
}
.icon-warning:before {
	content: "\e604";
}
.icon-info:before {
	content: "\e605";
}
.icon-phone:before {
	content: "\e606";
}
.icon-grin:before {
	content: "\e607";
}
.icon-paint:before {
	content: "\e608";
}
.icon-umbrella:before {
	content: "\e609";
}
.icon-truck:before {
	content: "\e60a";
}
.icon-exclamation-sign:before {
	content: "\e60b";
}
.icon-road:before {
	content: "\e60c";
}
.icon-medkit:before {
	content: "\e60d";
}
.icon-heart:before {
	content: "\e60e";
}
.icon-envelope:before {
	content: "\e60f";
}
.icon-sun:before {
	content: "\e610";
}
.icon-fire-extinguisher:before {
	content: "\e611";
}
.icon-thumbs-up:before {
	content: "\e612";
}
.icon-thumbs-down:before {
	content: "\e613";
}
.icon-bell:before {
	content: "\e614";
}
.icon-twitter:before {
	content: "\e615";
}
.icon-facebook:before {
	content: "\e616";
}
.icon-heart-outline:before {
	content: "\e617";
}
.icon-directions:before {
	content: "\e618";
}
.icon-feather:before {
	content: "\e619";
}
.icon-share:before {
	content: "\e61a";
}
.icon-bell2:before {
	content: "\e61b";
}
.icon-moon:before {
	content: "\e61c";
}
.icon-new:before {
	content: "\e61e";
}
.icon-shuffle:before {
	content: "\e61f";
}
.icon-switch:before {
	content: "\e620";
}
.icon-cc:before {
	content: "\e621";
}
.icon-pedestrian:before {
	content: "\e622";
}
.icon-bike:before {
	content: "\e623";
}
.icon-motobike:before {
	content: "\e624";
}
.icon-skate:before {
	content: "\e625";
}
.icon-trash:before {
	content: "\f014";
}
.icon-headphone2:before {
	content: "\f025";
}
.icon-camera:before {
	content: "\f03d";
}
.icon-minus-circle:before {
	content: "\f056";
}
.icon-remove-circle:before {
	content: "\f057";
}
.icon-check-circle:before {
	content: "\f058";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-remove-circle-o:before {
	content: "\f05c";
}
.icon-check-circle-o:before {
	content: "\f05d";
}
.icon-eye:before {
	content: "\f06e";
}
.icon-warning2:before {
	content: "\f071";
}
.icon-wrench:before {
	content: "\f0ad";
}
.icon-uniF0E3:before {
	content: "\f0e3";
}
.icon-flash:before {
	content: "\f0e7";
}
.icon-bulb:before {
	content: "\f0eb";
}
.icon-building:before {
	content: "\f0f7";
}
.icon-fighter-jet:before {
	content: "\f0fb";
}
.icon-recycle:before {
	content: "\f103";
}
.icon-bridge:before {
	content: "\f104";
}
.icon-graffiti:before {
	content: "\f106";
}
.icon-wheelchair:before {
	content: "\f193";
}
.icon-jersey:before {
	content: "\f019";
}
.icon-package:before {
	content: "\f0c4";
}
.icon-paintcan:before {
	content: "\f0d1";
}
.icon-history:before {
	content: "\e627";
}
.icon-user-md:before {
	content: "\f0f0";
}
.icon-bus:before {
	content: "\f207";
}
.icon-hearing:before {
	content: "\e628";
}
.icon-scissors:before {
	content: "\e629";
}
.icon-music:before {
	content: "\e62a";
}
.icon-subway:before {
	content: "\e62b";
}
.icon-flower:before {
	content: "\e626";
}
.icon-traffic-light:before {
	content: "\e62c";
}
.icon-car2:before {
	content: "\e62d";
}
