/* 
   Optimal text line length for legibility is 65-75 characters. 
   I add an extra 10 to compensate for the fact that ex 
   (the height of the lower case "x", usually equal to it's width 
   and therefor an average character) is narrower than the width of 
   an uppercase letter and any given line will contain a few of them.
   Apply in the style.scss file using "max-width" 
*/
ul.menu li,
ul.menu li a,
ul.links li,
ul.links li a,
.action-links,
#page {
  height: 1%;
}

#block-system-main ul.admin-list li a {
  height: 1px;
  position: relative;
  display: block;
}

#block-system-main ul.admin-list li div.description a {
  display: inline;
}
