# The services of the project.
#
# Each service listed will be deployed
# to power your Platform.sh project.

mysqldb:
    type: "mysql:10.0"
    disk: 2048
#
#rediscache:
#    type: "redis:3.0"
#
#solrsearch:
#    type: "solr:4.10"
#    disk: 1024