path.leaflet-clickable {
  -webkit-animation: pulse 4s ease-out;
  animation: pulse 4s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 0.0
}

@-webkit-keyframes pulse {
  0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
  50% {opacity: 0.5;}
  100% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
}
